<div class="">
    <div id="p_i" style="position: absolute; z-index: 2000;">
    </div>
    <div id="i_r" style="position: absolute; z-index: 2000;">
    </div>
    <div class="">
        <div class="col-sm-3" style="float: left;">
            <div>
                <div style="padding-left: 20px;">
                    <h2>Preferred Bands:</h2>
                    <div id="resize_pBSlide" style="width: 50%; height: 10px; background-color:cyan;">
                    </div>
                    <span> {{pbands.length}} of {{allBands.length}}</span>
                </div>
                <div style="padding-top: 20px;">
                    <div>
                        <ul style="list-style-type:none; padding-left: 15px; width: 80%;">
                            <li style="margin-top: 10px;" *ngFor="let band of pbands">
                                <div style="padding-bottom: 4px;" id="p_band{{band.id}}"> {{band.name}}</div>
                                <input id="p_band{{band.id}}_items" type="text" value="{{band.items}}" hidden="true" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="float: left;">
            <div>
                <div style="padding-left: 20px;">
                    <h2>Items used:</h2>
                    <div id="resize_iSlide" style="width: 50%; height: 10px; background-color:cyan;">
                    </div>
                    <span> {{items.length}} of {{allItems.length}}</span>
                </div>
                <div style="padding-top: 20px;">
                    <div>
                        <ul style="list-style-type:none; padding-left: 15px; width: 80%;">
                            <li style="margin-top: 10px;" *ngFor="let item of items">
                                <div style="padding-bottom: 4px;" id="p_item{{item.id}}"> {{item.name}}</div>
                                <input id="p_item{{item.id}}_items" type="text" value="{{item.bands}}" hidden="true" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="float: left;">
            <div>
                <div style="padding-left: 20px;">
                    <h2>Recommended Bands:</h2>
                    <div id="resize_rBSlide" style="width: 50%; height: 10px; background-color:cyan;">
                    </div>
                    <span> {{rbands.length}} of {{allBands.length}}</span>
                </div>
                <div style="padding-top: 20px;">
                    <div>
                        <ul style="list-style-type:none; padding-left: 15px; width: 80%;">
                            <li style="margin-top: 10px;" *ngFor="let band of rbands">
                                <div style="padding-bottom: 4px;" id="r_band{{band.id}}"> {{band.name}}</div>
                                <input id="r_band{{band.id}}_items" type="text" value="{{band.items}}" hidden="true" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="float: left;">
            <mat-card>
                <div *ngIf="selectedBand">
                    <mat-card-title>
                        {{selectedBand.name}}
                    </mat-card-title>
                    <img src="{{selectedBand.img_url}}" class="mat-card-image">
                    <mat-card-content class="card-content">
                        {{selectedBand.info}}
                    </mat-card-content>
                </div>
            </mat-card>
        </div> 
    </div>
</div>